{% extends '::base.html.twig' %}

{% block body -%}
    <h1>DepartmentBudgets list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Iddeptbudget</th>
                <th>Originalvalue</th>
                <th>Remainingvalue</th>
                <th>Createddate</th>
                <th>Modifieddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('departmentbudgets_show', { 'id': entity.idDeptBudget }) }}">{{ entity.idDeptBudget }}</a></td>
                <td>{{ entity.originalValue }}</td>
                <td>{{ entity.remainingValue }}</td>
                <td>{% if entity.createdDate %}{{ entity.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.modifiedDate %}{{ entity.modifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('departmentbudgets_show', { 'id': entity.idDeptBudget }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('departmentbudgets_edit', { 'id': entity.idDeptBudget }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('departmentbudgets_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
